/* body{
    background-image: url(https://res.cloudinary.com/dnb6x004q/image/upload/v1722934321/Viatours/Mask_Group_ht7uct.png);
    background-repeat: no-repeat;
    float: right;

}

.over-lay{
    background-color: #0000ff;
    /* position: absolute; */
    /* height: 100%; */
    /* width: 50%; */
    
/* .ms-auto{
    margin-left: rem;
} */